body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url(http://2.media.dorkly.cvcdn.com/13/89/336a28215c215237ff39636e06e035cb.gif);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  font-size: 22px;
  background-color: #888;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

span{
  color: pink;
}